<mat-card class="card mat-elevation-z8">
    <mat-card-header>

        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema <span >Help Desk</span>  desenvolvido por Rodrigo Augusto de Oliveira <br />
            Esse é um sistema para gerenciamento de chamados simulando um simples Help Desk desenvolvido em
            <span> Angular 12 e Spring Boot 2. </span> <br />
            O sistema está rodando na nuvem sendo o
            <span>Front na Vercel e o Back na Railway. </span><br />
            O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
            Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral.
            <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br /> At.te: Rodrigo Augusto de OLiveira
        </p>
    </mat-card-content>
</mat-card>